{{outlet}}
<div>
  Did a thing: {{this.didThing}}
</div>
<LinkTo @route="application">home</LinkTo>

<button type="button" {{modal-open "test1"}}>open1</button>
<button type="button" {{on "click" (fn this.modal.openModal "test2")}}>open2</button>
<button type="button" {{on "click" (fn this.modal.openModal)}}>open3</button>
<button type="button" {{modal-open "test4"}}>open4</button>

<div {{modal-auto-open "test2" }}></div>
<ModalDialog @id="test1" @canOpen={{this.canOpenModal1}} as |modal|>
  <div>This is modal1 content</div>
  <button type="button" {{on "click" (fn this.doThing modal.modal)}}>Do thing</button>
  <button type="button" {{on "click" (fn this.undoThing modal.modal)}}>Undo thing</button>
  <button type="button" {{on "click" modal.closeModal}}>Local Cancel</button>
  <button type="button" {{on "click" (fn this.modal.closeModal "test1")}}>Global Cancel</button>
  <button type="button" {{modal-close "test1"}}>Modifier string Cancel</button>
  <button type="button" {{modal-close modal.modal}}>Modifier item Cancel</button>
</ModalDialog>
<ModalDialog @id="test2" @onOpen={{this.onAutoOpen}} @canOpen={{this.canAutoOpen}}>This is modal2 content</ModalDialog>

<ModalDialog @id="test3" @showCloseButton={{false}} @isBackdropClickable={{false}} as |modal|>
  <div>
    Automatically opened modal3 for items route. only dismissable by button
  </div>
  <button type="button" {{on "click" modal.closeModal}}>Dismiss</button>
</ModalDialog>

<ModalTarget />